/target/
/.idea/
/data/
!/data/migrations/
/node_modules/
/.env
/package-lock.json
/**/*.br
/mtc-wasm/src/packs/utc242/
/assets/tailwind.css
/gen/schemas/
/mtc-app/gen/schemas/
/.cargo/config.toml

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build
/captures
.externalNativeBuild
.cxx
local.properties
key.properties

/.tauri
/tauri.settings.gradle
