/.idea/
/.fleet/
/target/
/node_modules/
/mtc-app/gen/schemas/
/data/
!/data/migrations/
/assets/tailwind.css
/package-lock.json
/Cargo.lock

/mtc-wasm/src/packs/utc242/
/.cargo/config.toml

/mtc-wasm/resources/css/tailwind.css