@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
/*    themes: emerald --default, dracula --prefersdark;*/
    root: ":root";
/*    exclude: checkbox, footer, typography, glass, rootcolor, rootscrollgutter;*/
}

@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(28.822% 0.022 277.508);
    --color-base-200: oklch(26.805% 0.02 277.508);
    --color-base-300: oklch(24.787% 0.019 277.508);
    --color-base-content: oklch(87% 0.01 258.338);
    --color-primary: oklch(70% 0.165 254.624);
    --color-primary-content: oklch(15.092% 0.036 346.812);
    --color-secondary: oklch(89% 0.196 126.665);
    --color-secondary-content: oklch(14.84% 0.029 301.883);
    --color-accent: oklch(78% 0.115 274.713);
    --color-accent-content: oklch(16.678% 0.024 66.558);
    --color-neutral: oklch(39.445% 0.032 275.524);
    --color-neutral-content: oklch(87.889% 0.006 275.524);
    --color-info: oklch(88.263% 0.093 212.846);
    --color-info-content: oklch(17.652% 0.018 212.846);
    --color-success: oklch(87.099% 0.219 148.024);
    --color-success-content: oklch(17.419% 0.043 148.024);
    --color-warning: oklch(95.533% 0.134 112.757);
    --color-warning-content: oklch(19.106% 0.026 112.757);
    --color-error: oklch(68.22% 0.206 24.43);
    --color-error-content: oklch(13.644% 0.041 24.43);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(93% 0 0);
    --color-base-300: oklch(86% 0 0);
    --color-base-content: oklch(20% 0.042 265.755);
    --color-primary: oklch(58% 0.158 241.966);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(55% 0.046 257.417);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(60% 0.118 184.704);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(37% 0.044 257.287);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(60% 0.126 221.723);
    --color-info-content: oklch(100% 0 0);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(100% 0 0);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(0% 0 0);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(0% 0 0);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@layer components {

    body {
        @apply antialiased forced-color-adjust-none; /* touch-manipulation;*/
    }

    .div-centered {
        @apply flex w-full min-h-screen justify-center items-center;
        min-height: calc(100dvh - 11rem);
    }

    input:user-invalid {
        @apply input-error;
    }

    .input-field {
        @apply input focus:input-primary
    }

    .ck-content .table table {
        @apply border-inherit;
    }

    .ck-content .table table td, .ck-content .table table th {
        @apply border-inherit;
    }

    .file-stack {
    }

    .file-stack dt {
        @apply ps-0 mb-2;
    }

    .file-stack dt span {
        @apply text-lg font-semibold text-wrap;
    }

    .file-stack dd {
        @apply flex flex-nowrap ps-2 mt-2.5 sm:mt-1.5 gap-3 items-start;
    }

    .file-stack dd svg {
        @apply w-5 min-w-5 aspect-square opacity-50 mt-[0.4rem];
    }

    .file-stack dd a {
        @apply transition-colors duration-500 ease-in-out no-underline text-wrap font-normal;
    }

    .file-stack dd a:hover {
        @apply text-primary;
    }

    .file-stack dd + dt {
    }

    .course-childs {
        @apply w-full pt-2;
    }

    .course-childs:before {
        @apply absolute bottom-7 top-3.5 w-[1px];
        inset-inline-start: 0;
        --tw-bg-opacity: 1;
        opacity: 0.1;
        content: "";
    }

    .entry-table {
        @apply table table-fixed w-full;
    }

    .entry-table tbody tr {
        @apply cursor-pointer hover:bg-base-200 hover:shadow-md;
    }

    .action-right-panel {
        @apply bg-base-200 fixed w-40 -right-20 transition-transform ease-in-out duration-300 hover:-translate-x-20;
        @apply rounded-l-lg rounded-r-none shadow-md z-[10];
    }

    .action-right-panel button {
        @apply btn justify-start gap-3 flex flex-nowrap;
    }

    .action-right-panel :where(span) {
        @apply transition-opacity ease-in-out duration-300;
    }

    .main-menu {
        @apply flex flex-col;
    }

    .main-menu :where(svg) {
        @apply -translate-x-4 sm:-translate-x-2;
    }

    .main-menu li {
        @apply w-full flex;
    }

    .main-menu li > a,
    .main-menu li > details > summary {
        @apply flex flex-wrap w-full min-w-0;
        @apply text-ellipsis overflow-hidden;
    }

    .main-menu :where(svg) {
        @apply flex-shrink-0 mr-2;
    }

    .main-menu :where(span, div) {
        @apply min-w-0 flex-1;
    }

    .personnel-list {
        @apply py-6;
    }
    .personnel-list > li {
        @apply flex flex-nowrap hover:bg-base-200 hover:cursor-pointer hover:shadow-md;
    }
    .personnel-list > li > div {
        @apply grid w-full grid-cols-3 lg:grid-cols-5 content-center gap-2;
    }
    .personnel-list > li > pre {
        @apply flex flex-nowrap px-3 py-2 gap-2;
    }
    .personnel-list :where(span) {
        @apply py-2.5;
    }
    .personnel-list :where(button) {
        @apply btn btn-xs btn-ghost hover:text-error mt-0.5;
    }
    .personnel-list :where(svg) {
        @apply size-4;
    }
    .personnel-list :where(li:not(:last-child), li:first-child:last-child) {
        @apply border-b-[1px] border-base-200;
    }
}

@layer utilities {
    html {
        scroll-padding-top: 5rem;
        scroll-behavior: smooth;
        background-color: transparent;
    }
    body {
        @apply bg-base-100;
    }
    body:has([qr-scanner]) {
        --color-base-100: transparent;
    }
    body:has([qr-scanner]) :where(.qr-element) {
        @apply hidden;
    }
}

.ck.ck-editor__main > .ck-editor__editable {
    background: transparent;
    border-radius: 0;
}
