<div class="gate-pass">
    <div class="rules-section">
        <div class="rules-title">ПРАВИЛА, ЩО ДІЮТЬ У ВІДНОШЕННІ ПЕРЕПУСТКИ</div>
        <ul class="rules-list">
            <li>1. Особа, яка отримала перепустку, несе особисту відповідальність за її стан і збереження.</li>
            <li>2. Забороняється передавати перепустку стороннім особам, паркувати т/з біля будівель, споруд, бліндажів,
                наметів, в безпосередній близькості до місця перебування особового складу, а також на відкритих
                майданчиках.
            </li>
            <li>3. Дозволяється рух т/з зі швидкістю, що не перевищує 40 км/год.</li>
            <li>4. В'їзд дозволяється за наявності індивідуальних засобів захисту військовослужбовця та засобів
                маскування т/з.
            </li>
            <li>5. За порушення вищезазначених правил перепустка буде скасована автоматично, а рух т/з по території
                частини буде заборонений.
            </li>
        </ul>
    </div>
</div>