[env]
FRONT_END_URL="https://localhost"
APP_TITLE="Military training center CMS"

HOST="0.0.0.0"
HTTP_PORT="80"
HTTPS_PORT="443"
DATA_PATH="./data"

PASSWORD_SALT="0L3QtdGF0YPQuSDRiNCw0YHRgtCw0YLRjA"
CRYPT_KEY="aXQncyBmdWxseSBzZWN1cmVkIGFwaSBrZXkuIG5vb25lIGNhbidhIGFjY2VzcyB0aGlzIHdpdGhvdXQgY3JlZGVudGlhbHM"

DB_NAMESPACE="mtc-namespace"
DB_NAME="mtc-database"
SESSION_EXPIRATION_IN_MINUTES="1440"

MAX_BODY_LIMIT="104857600"
ROWS_PER_PAGE="50"

API_CACHE_CONTROL="private; no-cache; no-store"
PUBLIC_CACHE_CONTROL="public; max-age=14400"
PROTECTED_CACHE_CONTROL="private; max-age=14400"
STRICT_TRANSPORT_SECURITY="max-age=63072000; includeSubDomains; preload"
X_FRAME_OPTIONS="SAMEORIGIN"
CONTENT_SECURITY_POLICY="default-src 'self' https://*.youtube.com https://*.gstatic.com https://*.googleapis.com https://*.youtube.com https://i.ytimg.com; frame-ancestors 'self'; script-src 'self' 'wasm-unsafe-eval' 'nonce-{{nonce}}'; img-src * data:; style-src 'self' 'unsafe-inline';"
X_CONTENT_TYPE_OPTIONS="nosniff"

[profile.dioxus-wasm]
inherits = "dev"
opt-level = 2

[profile.dioxus-server]
inherits = "dev"
opt-level = 2

[profile.dioxus-android]
inherits = "dev"
opt-level = 2
